@use '../global/media' as *;
@use '../global/variables' as *;

.background {
  background-color: #fff9ed;
  
  &_is-dark {
    background-color: $dark-blue;
  }

  &_is-medium {
    background-color: $blue-green;
  }

  &_is-light {
    background-color: $light-cornflower-blue;
  }
}