@use '../global/media' as *;
@use '../global/variables' as *;

.header {
  &_is-white {
    color: white;
  }

  &_is-centered {
    text-align: center;
    margin: $space-m 0;

    @include media(tabletAndUp) {
      @include addnavbar($space-l, left)
    }
  }
}