@use '../global/media' as *;
@use '../global/variables' as *;

.technologies {
  margin: 0 $space-xxl;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $space-m;

  @include media(laptopAndUp) {
    gap: $space-xxl;
  }
}

.tech-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $space-xl;
}

.tech-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-m;
}