@use 'global/variables' as *;

* {
  font-family: 'Barlow', sans-serif;
  font-size: $font-size-m;
  margin: 0;
  color: #444444;
  background-color: rbg(245, 245, 245)
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Fredericka the Great', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-xxxl;
}

h2 {
  font-size: $font-size-xxl
}

section {
  padding: $space-l 0;
}

div, p {
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
}
