@use 'global/variables' as *;

* {
  font-family: 'Barlow', sans-serif;
  font-size: $font-size-m;
  margin: 0;
}

body {
  margin: 0;
  background-color: $bdazzled-blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: $font-size-xxxl;
}

section {
  padding: $space-l 0;
}