* {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fredericka the Great", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

section {
  padding: 1.5rem 0;
}

div, p {
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
}

.background_is-darkest {
  background-color: #023047;
}
.background_is-dark {
  background-color: #126782;
}
.background_is-medium {
  background-color: #219ebc;
}
.background_is-light {
  background-color: #8ecae6;
}

.box {
  background-color: #e8ddb5;
  max-width: 500px;
  padding: 1rem 2rem;
  border-radius: 5%;
  box-shadow: 10px 10px #ec4e20;
}
.box__body {
  margin: 1.5rem 0;
}
.box__text {
  font-size: 1.25rem;
}

.img {
  border: 4px solid;
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}
.img_is-rounded {
  border: 4px solid;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

.header_is-white {
  color: white;
}
.header_is-centered {
  text-align: center;
  margin: 1rem 0;
}
@media (min-width: 900px) {
  .header_is-centered {
    margin-left: 4.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  width: 2.5rem;
  transition: transform 0.5s;
}
.icon:hover {
  transform: scale(1.3);
}
.icon_is-small {
  position: relative;
  width: 1.5rem;
  transition: transform 0.5s;
}
.icon_is-small:hover {
  transform: scale(1.3);
}
.icon_is-resume {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: transform 0.5s;
}
.icon_is-resume img {
  width: 1.5rem;
}
.icon_is-resume:hover {
  transform: scale(1.1);
}

.card {
  border-radius: 5%;
  border: 3px solid;
  max-width: 350px;
  height: 400px;
  background-color: #e8ddb5;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img {
  height: 200px;
  width: 350px;
  object-fit: cover;
  border-radius: 5% 5% 0 0;
}
.card__header {
  display: flex;
  gap: 0.75rem;
  padding: 0 0.75rem;
}
.card__body {
  padding: 0 0.75rem 0.75rem;
}
.card__links {
  padding: 0 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.card:hover {
  transform: scale(105%);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
  margin-top: 4rem;
  margin-left: 1rem;
}
@media (min-width: 900px) {
  .profile {
    flex-direction: row;
    justify-content: center;
    margin-left: 5.5rem;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
  }
}

.profile .box {
  margin: 1.5rem;
}

.slide-in-right {
  animation: 1s slideInRight;
}

.slide-in-left {
  animation: 1s slideInLeft;
}

@keyframes slideInRight {
  from {
    opacity: 0%;
    margin-left: 10%;
  }
  to {
    opacity: 100%;
    margin-left: 0%;
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0%;
    margin-right: 10%;
  }
  to {
    opacity: 100%;
    margin-right: 0;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 2rem;
  gap: 2rem;
}
@media (min-width: 900px) {
  .projects {
    margin-left: 5rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
@media (min-width: 900px) {
  .about {
    margin-left: 4.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.technologies {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
}

.tech-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sidebar {
  position: fixed;
  width: 100%;
  height: 50px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  gap: 1.5rem;
  box-shadow: 0 2px 10px;
  padding-top: 0.375rem;
}
@media (min-width: 900px) {
  .sidebar {
    display: block;
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 1.5rem;
    box-shadow: none;
  }
}
.sidebar__navigation {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 900px) {
  .sidebar__navigation {
    flex-direction: column;
    flex: 1;
    margin-top: 35vh;
  }
}
.sidebar__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-right: 2rem;
}
@media (min-width: 900px) {
  .sidebar__links {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.sidebar__icon-1 {
  animation: 1s 1s iconSlideIn forwards;
  opacity: 0%;
}

.sidebar__icon-2 {
  animation: 1s 1.5s iconSlideIn forwards;
  opacity: 0%;
}

.sidebar__icon-3 {
  animation: 1s 2s iconSlideIn forwards;
  opacity: 0%;
}

.sidebar__icon-4 {
  animation: 1s 2.5s iconSlideIn forwards;
  opacity: 0%;
}

.sidebar__icon-5 {
  animation: 1s 1s iconSlideIn forwards;
  opacity: 0%;
}

.sidebar__icon-6 {
  animation: 1s 1.5s iconSlideIn forwards;
  opacity: 0%;
}

@keyframes iconSlideIn {
  from {
    opacity: 0%;
    bottom: 2rem;
  }
  to {
    opacity: 100%;
    bottom: 0;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .contact {
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
.contact__blurb {
  max-width: 650px;
  text-align: center;
  color: white;
}
