@use '../global/media' as *;
@use '../global/variables' as *;

.background {
  &_is-dark {
    background-color: $blue-sapphire;
  }

  &_is-medium {
    background-color: $blue-green;
  }

  &_is-light {
    background-color: $light-cornflower-blue;
  }
}