@use '../global/variables' as *;

.icons {
  display: flex;
  align-items: center;
  gap: $space-l;
}

.icon {
  width: 2.5rem;
  transition: transform 0.5s;
  
  &:hover {
    transform: scale(1.3);
  }

  &_is-small {
    width: 1.5rem;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &_is-resume {
    display: flex;
    align-items: center;
    gap: $space-xxs;
    transition: transform 0.5s;

    & img {
      width: 1.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.icon-slide-in {
  animation: 1s 1s iconSlideIn forwards;
  opacity: 0%;
}

@keyframes iconSlideIn {
  from {
    opacity: 0%;
    margin-bottom: 100%;
  }

  to {
    opacity: 100%;
    margin-bottom: 0%;
  }
}