@use '../global/variables' as *;

.icons {
  display: flex;
  gap: $space-l;
}

.icon {
  width: 2.5rem;
  transition: transform 0.5s;
  
  &:hover {
    transform: scale(1.3);
  }

  &_is-small {
    width: 1.5rem;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }
}