@use '../global/media' as *;
@use '../global/variables' as *;

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $space-xxl;
  
  @include media(tabletAndUp) {
    @include addnavbar($space-l, left)
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-m;
}

.technologies {
  margin: 0 $space-xxl;
  
  display: flex;
  flex-direction: column;
  
}

.tech-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-m;
  margin-bottom: $space-m;
}