@use '../global/media' as *;
@use '../global/variables' as *;

#projects {
  min-height: 90vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: $space-l $space-xl;
  gap: $space-xl;
}