@use '../global/variables' as *;
@use '../global/media' as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-l;
  margin: $space-m;
  @include addnavbar($space-m, top);

  @include media(tabletAndUp) {
    flex-direction: row;
    justify-content: center;
    @include addnavbar($space-xxl, left);
  }
}

.profile .box {
  margin: $space-l;
}

.slide-in-right {
  animation: 1s slideInRight;
}

.slide-in-left {
  animation: 1s slideInLeft
}

@keyframes slideInRight {
  from {
    opacity: 0%;
    margin-left: 10%;
  }

  to {
    opacity: 100%;
    margin-left: 0%;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0%;
    margin-right: 10%;
  }

  to {
    opacity: 100%;
    margin-right: 0;
  }
}

