@use '../global/media' as *;
@use '../global/variables' as *;

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: $space-l $space-xl;
  gap: $space-xl;

  @include media(tabletAndUp) {
    @include addnavbar($space-xl, left)
  }
}